<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccountGUID" value="9C984D4A-09CA-E711-80C2-0003FF433AE0"/>
    <add key="StoreGUID" value="9D984D4A-09CA-E711-80C2-0003FF433AE0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="wsSecureService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25001/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="https://localhost:44335/MerchantService.svc"
                binding="wsHttpBinding" bindingConfiguration="wsSecureService"
                contract="MerchantService.IMerchantService" name="wsSecureService" />
        </client>
    </system.serviceModel>
</configuration>